// Base Settings

$page_width: 960px;

$base_dark_color: #333;
$base_light_color: #F9FCFD;
$primary_color: #0A67A3;
$primary_color_dark: #24587A;
$primary_color_darker: #03426A;
$primary_color_light: #3E97D1;
$primary_color_lighter: #65A6D1;
