body.home {

  #leaderboard {
    clear: left;
    float: left;
    width: ($page_width * 0.6 - 10px);
    margin-right: 10px;
  }
  #recent-checkins {
    float: left;
    width: ($page_width * 0.4 - 20px);
    margin-left: 10px;
  }

}
