#flash {
  ul {
    padding: 10px;
    margin: 0 0 10px 0;
    color: #FFFFFF;
    
    @include no-bullets;
    @include border-radius(4px);

    &.notice { background-color: #3B9C3B; }
    &.alert { background-color: #A11010; }
  }
}
