body.pages {

  #main-content {
    p {
      margin-bottom: 1.2em;
    }

    article {
      margin-bottom: 2em;
    }
  }

  #tweet-examples {
    border: 1px solid $base_dark_color;
    padding: 10px;
    @include clearfix;

    ul {
      font-size: 1.6em;
      font-family: monospace;
      @include no-bullets;

      li {
        padding: 5px;
      }
    }

    img {
      float: right;
      border: 1px solid $base_dark_color;
    }
  }

}
