table {
  width: 100%;
  font-size: 0.9em;
  
  $table_color: lighten($primary_color_light, 15%);
  @include table-scaffolding;
  @include alternating-rows-and-columns($table_color, $table_color, #111, $primary_color_darker);
  @include outer-table-borders(1px, $primary_color_darker);
  
  th {
    text-align: left;
    color: $base_light_color;
    font-weight: normal;
  }
  
  td, th {
    padding: 5px;
  }

  tr.no-results {
    font-style: italic;
  }

}


table.tablesorter {
  thead tr .header {
    background-image: url(../images/tablesorter/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
  }

  tbody td {
    padding: 4px;
    vertical-align: top;
  }
  thead tr .headerSortUp {
    background-image: url(../images/tablesorter/asc.gif);
  }
  thead tr .headerSortDown {
    background-image: url(../images/tablesorter/desc.gif);
  }
  thead tr .headerSortDown, thead tr .headerSortUp {
    background-color: lighten($primary_color_light, 15%);
  }
}

