
%section#introduction
  %h1 Coming Soon

  - if current_user
    %p Welcome #{current_user}
  - else
    %p= link_to "Connect Your Twitter Account", "/auth/twitter"

%section#map
  %h1 Map

%section#leaderboard
  %h1 Leaderboard

%section#recent-checkins
  %h1 Recent Flights
