- if current_user
  %h2 Welcome back, #{current_user}

- else  
  = link_to "/auth/twitter", :class => "twitter-connect" do
    = image_tag "twitter/bird.png", :class => "bird"
    Sign in with
    = image_tag "twitter/wordmark.png", :class => "wordmark", :alt => "Twitter"
  
  %h2 Simply tweet your flight number and we'll track it!
  %p We can also tweet the the other people checked in on your flight.